// Import all of Bootstrap's CSS
//@import "~bootstrap/scss/bootstrap";
$color_primario: blue;
h1 {
    color: $color_primario;
}

a {
    text-decoration: none;
}

.card {
    margin: 1rem;
    padding: 1rem;
}

.der {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.cart {
    margin-right: 1rem;
    margin-left: 1rem;
}